header.main-header .logo-container{
    width: 166px;
}

.poster img{
    max-width: 330px;
}
main.content-main{
    max-width: 668px;
}
.progress{
    height: 5px;
}
.progress-bar{
    height: 5px;
}
.progress-item{
    max-width: 200px;
}
.btn{
    border: 1px solid black;
    border-radius: 5px;
    width: 100%;
}
.btn-primary{
    background-color: black;
}
.btn-secondary{
    background-color: white;
    color: black;
}